<script src="scripts/js/highcharts.js"></script>
<script src="scripts/js/highcharts-3d.js"></script>
<script type="text/javascript" src="scripts/js/estadisticas.js"></script>
<script src="scripts/js/modules/exporting.js"></script>
<link rel="stylesheet" href="scripts/v-accordion/v-accordion.css" />

<div class="col-md-2"></div>
<div class="col-md-8" style="margin-bottom:170px;">
	
	<div class="col-md-1"></div>
		
	<div class="col-md-10 text-center" style="padding-top:15px;">
	
		<img src="images/img/agora_house.png" class="img-circle" alt="">
		
		<div style="margin-top:50px;margin-bottom:50px;">
			<b style="font-size:22px">Estadísticas generales</b>
			<hr style="border: none; height: 1px; color: #333; background-color: #3279b7;">
		</div>
			
		<v-accordion id="acordeonGeneral" class="vAccordion--default" multiple>
		
		  <v-pane>
		  	<v-pane-header>Pregunta/s con mayor cantidad de votos</v-pane-header>
		  	
		  	<v-pane-content><div ng-repeat="pregunta in prMasVotadas">
				{{pregunta.pregunta}}</div></v-pane-content>
		  </v-pane>
		  
		</v-accordion>
		
		<div style="margin-top:50px;margin-bottom:50px;">
			<b style="font-size:22px">Votos totales por encuesta</b>
			<hr style="border: none; height: 1px; color: #333; background-color: #3279b7;">
		</div>		
		  
		<v-accordion class="vAccordion--default" multiple>
		
		  <v-pane ng-repeat="encuesta in encuestas">
		  	<v-pane-header  onclick="drawPie(this)" id="{{encuesta.id}}">{{encuesta.nombre}}</v-pane-header>
		  	
		  	<v-pane-content>
		  	
		  		<table class="table table-responsive table-striped">
		  			<thead> <tr style="background-color: #9ecdff;"> <th>Preguntas</th><th>Votos totales</th> </tr> </thead>
		  			<tbody>
		  			
		  				<tr style="background-color:#e4f1ff" ng-repeat="pregunta in encuesta.preguntas">
		  					<td style="text-align:left;" id="{{pregunta.id}}" class="{{encuesta.id}}"> {{pregunta.pregunta}} </td>
		  					<td style="text-align:left;" class="recuento{{pregunta.id}}"> {{calculaTotalVotos(encuestas.indexOf(encuesta), encuesta.preguntas.indexOf(pregunta))}} </td>
		  				</tr>
		  				
		  			</tbody>
		  		</table>
		  		
		  		<div id="representacion">
					<ul class="nav nav-tabs" style="display: inline-flex;">
						<li class="active"><a data-toggle="tab" style="cursor:pointer;" onclick="drawPie(this)">Circular</a></li>
						<li><a data-toggle="tab" style="cursor:pointer;" id="{{encuesta.id}}" onclick="drawColumn(this)">Columnas</a></li>
						<li><a data-toggle="tab" style="cursor:pointer;" id="{{encuesta.id}}" onclick="drawSemiCircle(this)">Semicírculo</a></li>
						<li><a data-toggle="tab" style="cursor:pointer;" id="{{encuesta.id}}" onclick="drawPie3d(this)">Círculo 3D</a></li>
					</ul>
					<div id="container{{encuesta.id}}"></div>
				</div>
		  	</v-pane-content>
		  </v-pane>	
		
		</v-accordion>
		
	</div>
	
	<div class="col-md-1"></div>
	
</div>
<div class="col-md-2"></div>

<script type="text/javascript">

	var idActual = -1;
	var datosAct;

	function parseaDatos(boton) {
		var posicion = boton.id;

		if (idActual != posicion) {

			var datos = [];

			idActual = posicion;
			preguntas = document.getElementsByClassName(posicion);
			var i;
			for (i = 0; i < preguntas.length; i++) {
				
				var votos = document.getElementsByClassName("recuento"
						+ preguntas[i].id)[0];
				datos.push([ preguntas[i].childNodes[0].nodeValue,
						parseInt(votos.childNodes[0].nodeValue) ]);
			}

			datosAct = datos;
			$(".active").attr('class', '');
		}

		return datosAct;
	}

	function drawColumn(tag) {
		column(datosAct, tag.id);
	}
	function drawSemiCircle(tag){
		semicircle(datosAct, tag.id);
	}
	function drawPie3d(tag){
		pie3d(datosAct, tag.id);
	}
	function drawPie(boton) {
		var datos;
		if (boton) {
			datos = parseaDatos(boton);
		} else {
			datos = datosAct;
		}
		
		pie(datos, boton.id, "Numero de votos por cada pregunta de esta encuesta");

	}
</script>